{# app/Resources/views/store/register.html.twig #}
<html lang="es">
<head>
  <title>Tienda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h3>Registrar Usuario</h3>
        </div>
        <div class="panel-body">
            {{ form_start(form) }}
                {{ form_row(form.nombreUsuario) }}
                {{ form_row(form.apellidoUsuario) }}
                {{ form_row(form.cedula) }}
                {{ form_row(form.username) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
            {{ form_end(form) }}
            <br><a href="/store/users"> << Atras</a>
        </div>
    </div>
</body>
</html>