{# app/Resources/views/store/store_page.html.twig #}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>Tienda</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="{{ asset('movie.ico') }}" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-heading"><h3><img src="{{ asset('movie.ico') }}" class="img-circle" alt="imageMovie" width="40" height="40">Tienda:<small> ADMIN: Pagina Principal </small></h3>
        </div>
        <div class="panel-body">
            <div id="sidebar">
                {% block sidebar %}
                    <ul>
                        <a href="/store/add" class="btn btn-primary" role="button">+ Agregar Pelicula</a><a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="/store/users" class="btn btn-success" role="button">* Administrar Usuarios</a><a>&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        <a href="/logout" class="btn btn-danger" role="button">- Cerrar Sesion</a>
                    </ul>
                {% endblock %}
            </div>
            {#Pintando la tabla#}
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <p align="center">PELICULAS</p>
                    <tr>
                        <th>ID</th>
                        <th>TITULO</th>
                        <th>GENERO</th>
                        <th>ESTADO</th>
                        <th>DESCRIPCION</th>
                        <th>ACCION</th>
                    </tr>
                    <tr>
                    {%for movie in movies%}
                        <td>{{movie.id}}</td>
                        <td>{{movie.nombre}}</td>
                        <td>{{movie.genero}}</td>
                        <td>{{movie.estado}}</td>
                        <td>{{movie.descripcion}}</td>
                        <td>
                            <a href="/store/update/{{movie.id}}" class="btn btn-info" role="button">Editar</a>
                            <a href="/store/delete/{{movie.id}}" class="btn btn-danger" role="button">Eliminar</a> 
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
                
            <div class="panel-heading">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <p align="center">REPORTE</p>
                        <tr>
                            <th>TITULO</th>
                            <th>$ VALOR ALQUILER</th>
                            <th>ESTADO</th>
                            <th>CANTIDAD VECES ALQUILADA</th>
                            <th>GANANCIAS POR PELICULA</th>
                        </tr>
                        <tr>
                        {%for movie2 in movies2%}
                            <td>{{movie2.nombre}}</td>
                            <td>$ 5000</td>
                            <td>{{movie2.estado}}</td>
                            <td>{{movie2.conta}}</td>
                            <td>$ {{movie2.conta*5000}}</td>
                        </tr>
                        {%endfor%}
                    </table>
                </div>
            </div>
    </div>
<br>
</body>
</html>